<div class="container-fluid">
  <div class="row g-3 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a
            [routerLink]="['/administrador/inicio']"
            routerLinkActive="router-link-active"
            ><i class="fas fa-home"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Preguntas frecuentes
        </li>
      </ol>
    </nav>
  </div>

  <h4 class="mb-3 fw-bold text-center">Preguntas frecuentes</h4>

  <div class="input-group-sm text-center mb-2">
    <label class="small mb-1" for="searchBar"
      ><i class="fas fa-search"></i> Buscar preguntas:</label
    >&nbsp;
    <input
      type="search"
      placeholder="Pregunta algo..."
      [(ngModel)]="searchBar"
    />&nbsp;
    <a
      class="btn btn-primary"
      [routerLink]="['/administrador/preguntas-frecuentes/crear']"
    >
      <i class="fa fa-plus"></i> Agregar nueva pregunta
    </a>
  </div>

  <div class="row g-3" *ngIf="cargaFinalizada == true; else spinner">
    <div class="card">
      <div class="card-body bg-light">
        <div class="accordion" id="accordionExample">
          <div
            class="accordion-item"
            *ngFor="
              let pref of arregloPreguntas
                | filterBy: ['prefTitulo', 'prefDetalle']:searchBar;
              let indice = index
            "
          >
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                attr.data-bs-target="#collapse{{ pref.prefId }}"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                {{ pref.prefTitulo }}
              </button>
            </h2>
            <div
              id="collapse{{ pref.prefId }}"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body"><p>{{ pref.prefDetalle }}</p></div>
              <div
                class="d-grid gap-2 d-md-flex justify-content-md-center mb-2"
              >
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  [routerLink]="[
                    '/administrador/preguntas-frecuentes/actualizar/',
                    pref.prefId
                  ]"
                >
                  <i class="fa fa-edit"></i> Actualizar
                </button>
                <button
                  class="btn btn-danger"
                  type="button"
                  (click)="abrirModalEliminar(eliminarPregunta, pref)"
                >
                  <i class="fa fa-trash"></i> Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="col-md text-center">
    <div
      class="spinner-grow ms-auto text-primary"
      role="status"
      style="width: 4rem; height: 4rem"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-md text-center">
    <h4>Cargando...</h4>
  </div>
</ng-template>

<ng-template #eliminarPregunta>
  <div class="modal-content rounded-4 shadow">
    <div class="modal-body p-4 text-center">
      <h5 class="mb-0">{{ modalTitulo }}</h5>
      <p class="mb-0">{{ modalContenido }}</p>
    </div>
    <div class="modal-footer flex-nowrap p-0">
      <button
        type="button"
        class="btn btn-lg fs-6 text-primary col-6 m-0 rounded-0 border-right"
        (click)="confirmarEliminar()"
      >
        <strong>Si, eliminar</strong>
      </button>
      <button
        type="button"
        class="btn btn-lg fs-6 text-danger col-6 m-0 rounded-0"
        data-bs-dismiss="modal"
        (click)="cancelar()"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>
