<div class="container-fluid">
  <div class="row g-3 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/administrador/inicio']"
            ><i class="fas fa-home"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Administrador
        </li>
        <li class="breadcrumb-item active" aria-current="page">Roles</li>
      </ol>
    </nav>
  </div>

  <div class="row justify-content-center mt-2">
    <h4 class="mb-3 fw-bold mb-0 text-center">Administrar Roles</h4>
  </div>

  <div class="row justify-content-center" *ngIf="cargaFinalizada == true; else spinner">
    <div
      class="card mb-3 mx-2 bg-light"
      style="max-width: 640px"
      *ngFor="let objRol of arregloRoles"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            *ngIf="objRol.rolNombre == 'Administrador'"
            src="../../../../../../assets/images/card_admin.jpg"
            class="img-fluid rounded-start"
          />
          <img
            *ngIf="objRol.rolNombre == 'Estudiante'"
            src="../../../../../../assets/images/card_student.jpg"
            class="img-fluid rounded-start"
          />
          <img
            *ngIf="objRol.rolNombre == 'Docente'"
            src="../../../../../../assets/images/card_teacher.jpg"
            class="img-fluid rounded-start"
          />
          <img
            *ngIf="objRol.rolNombre == 'Invitado'"
            src="../../../../../../assets/images/card_guest.jpg"
            class="img-fluid rounded-start"
          />
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ objRol.rolNombre }}</h5>
            <div class="card-text"></div>
            <a
              [routerLink]="['/administrador/usuarios']"
              [queryParams]="{ rol: objRol.rolNombre }"
              class="btn btn-primary"
              >Ver usuarios</a
            >
            <p class="card-text">
              <small class="text-muted"
                >Cantidad de usuarios: {{ objRol.cantUsuarios }}</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="col-md text-center">
    <div
      class="spinner-grow ms-auto text-primary"
      role="status"
      style="width: 4rem; height: 4rem"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-md text-center">
    <h4>Cargando...</h4>
  </div>
</ng-template>
