  <div class="d-flex align-items-center">
    <div class="card mt-3 mb-3 mx-auto" style="width: 30rem">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <button (click)="regresar()" class="btn">
            <i class="fa fa-reply"></i>
          </button>
          <div class="text-center">
            <img
              class="mb-3"
              src="../../../../assets/images/logo.png"
              alt=""
              width="240"
              height="70"
            />
          </div>
          <span></span>
        </div>
        <form
          #frmRegistro="ngForm"
          class="needs-validation"
          (ngSubmit)="frmRegistro.form.valid && registrarUsuario(frmRegistro)"
        >
          <div class="row g-3">
            <h5 class="mb-3 fw-bold mb-0 text-center">Registro Sistema PQRS</h5>
            <div class="col-sm-6">
              <!-- Fields -->
              <label for="firstName" class="form-label"
                >Nombres<span class="text-danger"> *</span></label
              >
              <input
                type="text"
                class="form-control form-control-sm"
                id="firstName"
                name="firstName"
                [(ngModel)]="objUsuario.usuarioNombres"
                #firstName="ngModel"
                placeholder="Nombres usuario"
                [ngClass]="{
                  'is-invalid': frmRegistro.submitted && firstName.invalid
                }"
                required
              />
              <div
                class="text-danger error"
                *ngIf="frmRegistro.submitted && firstName.invalid"
              >
                <span *ngIf="firstName.errors?.['required']"
                  >Ingrese nombre de usuario</span
                >
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label"
                >Apellidos <span class="text-danger"> *</span></label
              >
              <input
                type="text"
                class="form-control form-control-sm"
                id="lastName"
                name="lastName"
                [(ngModel)]="objUsuario.usuarioApellidos"
                #lastName="ngModel"
                placeholder="Apellidos usuario"
                [ngClass]="{
                  'is-invalid': frmRegistro.submitted && lastName.invalid
                }"
                required
              />
              <div
                class="text-danger error"
                *ngIf="frmRegistro.submitted && lastName.invalid"
              >
                <span *ngIf="lastName.errors?.['required']"
                  >Ingrese apellidos de usuario</span
                >
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label"
                >Correo institucional <span class="text-danger"> *</span></label
              >
              <input
                type="email"
                class="form-control form-control-sm"
                [(ngModel)]="objAcceso.correoUsuario"
                #email="ngModel"
                id="email"
                name="email"
                placeholder="you@example.com"
                [ngClass]="{
                  'is-invalid': frmRegistro.submitted && email.invalid
                }"
                required
                pattern="{{ patronCorreo }}"
              />
              <div
                class="text-danger error"
                *ngIf="frmRegistro.submitted && email.invalid"
              >
                <span *ngIf="email.errors?.['required']"
                  >Usuario requerido</span
                >
                <span *ngIf="email.errors?.['pattern']">Correo inválido</span>
              </div>
            </div>

            <div class="col-12">
              <label for="password" class="form-label"
                >Contraseña (mínimo 6 carácteres)<span class="text-danger"> *</span></label
              >
              <input
                type="password"
                class="form-control form-control-sm"
                id="password"
                name="password"
                [(ngModel)]="objAcceso.claveUsuario"
                minlength="6"
                #password="ngModel"
                placeholder="Contraseña"
                [ngClass]="{
                  'is-invalid': frmRegistro.submitted && password.invalid
                }"
                required
              />
              <div
                class="text-danger error"
                *ngIf="frmRegistro.submitted && password.invalid"
              >
                <span *ngIf="password.errors?.['required']"
                  >Contraseña requerida</span
                >
              </div>
              <div
                class="text-danger error"
                *ngIf="frmRegistro.submitted && password.invalid"
              >
                <span *ngIf="password.errors?.['minlength']"
                  >La contraseña es muy corta</span
                >
              </div>
            </div>

            <div class="col-12">
              <label for="confirmedPassword" class="form-label"
                >Confirmar contraseña<span class="text-danger"> *</span></label
              >
              <input
                type="password"
                class="form-control form-control-sm"
                id="repassword"
                name="repassword"
                [(ngModel)]="objAcceso.reClave"
                #repassword="ngModel"
                placeholder="Confirmar contraseña"
                [ngClass]="{
                  'is-invalid': frmRegistro.submitted && repassword.invalid
                }"
                required
                pattern="{{ objAcceso.claveUsuario }}"
              />
              <div
                class="text-danger error"
                *ngIf="frmRegistro.submitted && repassword.invalid"
              >
                <span *ngIf="repassword.errors?.['required']"
                  >Contraseña requerida</span
                >
              </div>
            </div>
          </div>
          <hr class="my-2" />
          <div class="mt-2 form-check">
            <input type="checkbox" class="form-check-input" id="save-info" />
            <label class="form-check-label" for="save-info"
              >Acepto de tratamiento de datos</label
            >
          </div>
          <button *ngIf="cargaFinalizada; else cargandoRegistro" class="w-100 mt-3 btn btn-primary btn-sm" type="submit">
            Finalizar registro
          </button>
        </form>
      </div>
    </div>
  </div>
  <ng-template #cargandoRegistro>
    <button class="w-100 mt-3 btn btn-primary btn-sm" type="submit" disabled>
      <span class="spinner-border spinner-border-sm"></span>
      Espera un momento...
    </button>
  </ng-template>
