<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a [routerLink]="['inicio']" class="navbar-brand col-md-3 col-lg-2 me-0 px-3">
    <img
      id="header-image"
      class="img-fluid"
      src="../../../../assets/images/logo-white.png"
      width="200"
      height="60"
    />
  </a>
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <hr />
  <div
    id="notificaciones"
    class="my-2"
    *ngIf="cargaFinalizada == true; else spinner"
  >
    <button
      type="button"
      class="btn btn-sm btn-light position-relative text-black"
      popoverTitle="Nuevos mensajes"
      [popover]="popTemplate"
      placement="auto"
    >
      <i class="fa-solid fa-bell"></i>
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        {{ estadisticas.respondidas }}
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
  </div>
</header>
<div>
  <nav
    id="sidebarMenu"
    class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse px-3"
  >
    <div class="position-sticky pt-3">
      <ul class="nav nav-pills flex-column mb-auto mt-5">
        <li class="nav-item" *ngFor="let item of botonesCargados">
          <a
            [routerLink]="['' + item.route]"
            class="nav-link text-white"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="{{ item.icon }}"></i
            ><span class="ms-2">{{ item.name }} </span>
          </a>
        </li>
      </ul>
      <hr style="color: white" />
      <div class="dropdown">
        <a
          href="#"
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            [src]="'data:image/png;base64,' + this.base64"
            alt=""
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
          <strong>{{ nombreUsuario }}</strong>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark text-small shadow"
          aria-labelledby="dropdownUser1"
        >
          <li class="nav-item">
            <a
              *ngIf="rolUsuario == 'Estudiante'"
              class="dropdown-item"
              [routerLink]="['/estudiante/solicitudes']"
              routerLinkActive="text-white"
              >Historial de solicitudes</a
            >
          </li>
          <li class="nav-item">
            <a
              *ngIf="rolUsuario === 'Estudiante'"
              class="dropdown-item"
              [routerLink]="['/estudiante/inicio/perfil']"
              routerLinkActive="text-white"
              >Editar perfil</a
            >
            <a
              *ngIf="rolUsuario === 'Administrador'"
              class="dropdown-item"
              [routerLink]="['/administrador/inicio/perfil']"
              routerLinkActive="text-white"
              >Editar perfil</a
            >
            <a
              *ngIf="rolUsuario === 'Docente'"
              class="dropdown-item"
              [routerLink]="['/administrador/inicio/perfil']"
              routerLinkActive="text-white"
              >Editar perfil</a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              (click)="cerrarSesion()"
              routerLinkActive="router-link-active"
              class="nav-link text-white"
              style="cursor: pointer"
            >
              <i class="fa-solid fa-arrow-right-from-bracket"></i
              ><span class="ms-2">Cerrar Sesion</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <ng-template #popTemplate
    >Tienes
    <a
      *ngIf="rolUsuario == 'Estudiante'"
      [routerLink]="['/estudiante/solicitudes']"
      [queryParams]="{ estado: 3 }"
      >{{ estadisticas.respondidas }} solicitudes respondidas</a
    >
    <a
      *ngIf="rolUsuario != 'Estudiante'"
      [routerLink]="['/administrador/solicitudes']"
      [queryParams]="{ estado: 2 }"
      >{{ estadisticas.respondidas }} solicitudes respondidas</a
    >.
    <div *ngIf="rolUsuario != 'Estudiante'">
      <hr style="color: rgb(77, 77, 77)" />
      Tienes
      <a
        [routerLink]="['/administrador/solicitudes']"
        [queryParams]="{ estado: 1 }"
        >{{ estadisticas.nuevas }} solicitudes nuevas</a
      >.
    </div>
  </ng-template>
</div>

<ng-template #spinner>
  <div>
    <h4>Cargando notificaciones...</h4>
  </div>
</ng-template>
