<div class="container-fluid">
  <div class="row g-3 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/administrador/inicio']"
            ><i class="fas fa-home"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Administrador
        </li>
        <li
          class="breadcrumb-item active"
          style="cursor: pointer"
          aria-current="page"
          [routerLink]="['/administrador/solicitudes']"
        >
          Solicitudes
        </li>
      </ol>
    </nav>
  </div>
  <div>
    <h4 class="mb-3 fw-bold mb-0 text-center"></h4>
  </div>

  <div class="row g-3" *ngIf="cargaFinalizada == true; else spinner">
    <div class="card mb-3">
      <div class="card-header bg-dark text-white text-center">
        Solicitud #{{ arregloHiloMensajes[0].mensajeId }}:
        <strong>{{ arregloHiloMensajes[0].mensajeTitulo }}</strong
        ><br />
        <div *ngIf="usuarioRol == 'Administrador'">
          Asignada a:
          <form
            #frmReasignar="ngForm"
            (ngSubmit)="frmReasignar.valid && reasignarSolicitud(frmReasignar)"
          >
            <select
              style="border: transparent; padding: 5px; width: 400px"
              id="docente"
              name="docente"
              [(ngModel)]="adminAsignado.usuarioId"
              #docente="ngModel"
              required
            >
              <option
                *ngFor="let docente of arregloDocentes; let indice = index"
                [ngValue]="docente.usuarioId"
              >
                {{ docente.usuarioNombres + " " + docente.usuarioApellidos }}
              </option>
            </select>
            <div
              class="text-danger error"
              *ngIf="frmReasignar.submitted && docente.invalid"
            >
              <span *ngIf="docente.errors?.['required']"
                >Selecciona un docente para asignarle la solicitud</span
              >
            </div>
            <button class="btn btn-sm btn-light mx-2" type="submit">
              Reasignar
            </button>
          </form>
        </div>
      </div>
      <div class="card-body">
        <ul class="timeline">
          <li *ngFor="let msj of arregloHiloMensajes">
            <!-- begin timeline-time -->
            <div class="timeline-time">
              <span class="date">{{
                msj.mensajeFecha | date: "MMM d, y"
              }}</span>
              <span class="tie">{{ msj.mensajeFecha | date: "h:mm a" }}</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
              <a href="javascript:;">&nbsp;</a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
              <div class="timeline-header">
                <span class="userimage"
                  ><img
                    *ngIf="msj.mensajeIdUsuario == usuarioId"
                    [src]="'data:image/png;base64,' + this.base64" />

                  <img
                    *ngIf="msj.mensajeIdUsuario != usuarioId"
                    src="https://cdn-icons-png.flaticon.com/128/64/64572.png"
                /></span>
                <span class="text-start">{{
                  msj.usuarioNombres + " " + msj.usuarioApellidos
                }}</span>
                &nbsp;
                <small class="text-muted fst-italic">{{
                  msj.mensajeTitulo
                }}</small>
              </div>
              <div class="timeline-content">
                <p>{{ msj.mensajeDetalle }}</p>
              </div>
            </div>
            <!-- end timeline-body -->
          </li>
        </ul>
        <div *ngIf="arregloAnexos.length != 0">
          <h5>Anexos:</h5>
          <span
            class="badge badge-info mx-1 my-1"
            *ngFor="let anexo of arregloAnexos"
            ><a
              class="file"
              href="{{ anexo.anexoNombrePrivado }}"
              target="_blank"
              ><i class="fa-solid fa-file"></i>
              {{ anexo.anexoNombrePublico }}</a
            ></span
          >
        </div>
      </div>
      <div
        class="card-footer"
        *ngIf="estadoSolicitud != 4; else solicitudTerminada"
      >
        <form
          #frmResponderMsj="ngForm"
          (ngSubmit)="
            frmResponderMsj.valid && responderMensaje(frmResponderMsj)
          "
        >
          <div class="input-group mb-3">
            <textarea
              class="form-control"
              id="mensajeDetalle"
              name="mensajeDetalle"
              type="text"
              rows="6"
              placeholder="Escribe un mensaje..."
              [(ngModel)]="nuevoMensaje.mensajeDetalle"
              #mensajeDetalle="ngModel"
              [ngClass]="{
                'is-invalid':
                  frmResponderMsj.submitted && mensajeDetalle.invalid
              }"
              required
            >
            </textarea>
            <button
              class="btn btn-sm btn-primary"
              type="submit"
              [disabled]="!mensajeEnviado"
            >
              <i class="fa-solid fa-paper-plane mx-1"></i>
              Enviar
            </button>
            <button
              type="button"
              class="btn btn-primary dropdown-toggle dropdown-toggle-split"
              style="border-left: 1px solid #000"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              title="Responder con pregunta frecuente"
              [disabled]="!mensajeEnviado"
            >
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li
                class="dropdown-item"
                style="cursor: pointer"
                (click)="
                  abrirModalPreguntasFrecuentes(responderPreguntaFrecuente)
                "
              >
                Responder con pregunta frecuente
              </li>
            </ul>
          </div>
          <div
            class="text-danger error"
            *ngIf="frmResponderMsj.submitted && mensajeDetalle.invalid"
          >
            <span *ngIf="mensajeDetalle.errors?.['required']"
              >El mensaje no puede ser vacio</span
            >
          </div>
        </form>
        <form (ngSubmit)="subirAnexo(frmSubirAnexo)" #frmSubirAnexo="ngForm">
          <!-- Input de subir archivo -->
          <p>
            Puedes subir un archivo anexo de tipo JPG,PNG o PDF, no superior a
            2MB
          </p>
          <div class="input-group mb-3">
            <input
              type="file"
              class="form-control"
              (change)="seleccionarAnexo($event)"
              accept="image/*,.pdf"
            />
            <button
              class="btn btn-secondary"
              type="submit"
              [disabled]="!anexoEnviado"
            >
              <i class="fa-solid fa-file-arrow-up"></i>
              Subir documento
            </button>
          </div>
          <!-- Fin Input de subir archivo -->
        </form>
        <div class="d-flex justify-content-center" *ngIf="estadoSolicitud == 3">
          <button
            class="btn btn-danger text-center"
            type="button"
            (click)="abrirModalTerminar(terminarSolicitud)"
          >
            <i class="fa-solid fa-circle-xmark mx-1"></i>
            Terminar solicitud
          </button>
        </div>
      </div>
      <ng-template #solicitudTerminada>
        <div class="card-footer text-lg-center text-white bg-success">
          <i class="fa-solid fa-circle-check"></i> Esta solicitud ha finalizado
          <button
            class="btn btn-outline-light text-center mx-2"
            type="button"
            (click)="abrirModalReabrir(reabrirSolicitud)"
          >
            <i class="fa-solid fa-arrow-rotate-backward mx-1"></i>
            Reabrir solicitud
          </button>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-template #terminarSolicitud>
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-4 text-center">
        <h5 class="mb-0">{{ modalTitulo }}</h5>
        <p class="mb-0">{{ modalContenido }}</p>
      </div>
      <div class="modal-footer flex-nowrap p-0">
        <button
          type="button"
          class="btn btn-lg fs-6 text-primary col-6 m-0 rounded-0 border-right"
          (click)="confirmarTerminar()"
        >
          <strong>Si, terminar</strong>
        </button>
        <button
          type="button"
          class="btn btn-lg fs-6 text-danger col-6 m-0 rounded-0"
          data-bs-dismiss="modal"
          (click)="cancelar()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #reabrirSolicitud>
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-4 text-center">
        <h5 class="mb-0">{{ modalTitulo }}</h5>
        <p class="mb-0">{{ modalContenido }}</p>
      </div>
      <div class="modal-footer flex-nowrap p-0">
        <button
          type="button"
          class="btn btn-lg fs-6 text-primary col-6 m-0 rounded-0 border-right"
          (click)="confirmarReabrir()"
        >
          <strong>Si, reabrirla</strong>
        </button>
        <button
          type="button"
          class="btn btn-lg fs-6 text-danger col-6 m-0 rounded-0"
          data-bs-dismiss="modal"
          (click)="cancelar()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #responderPreguntaFrecuente>
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-4 text-center">
        <h5 class="mb-2">{{ modalTitulo }}</h5>
        <ul class="list-group list-group-flush mb-4">
          <li
            class="list-group-item list-group-item-action"
            style="cursor: pointer"
            *ngFor="let pref of arregloPreguntas"
            (click)="seleccionar(pref)"
          >
            {{ pref.prefTitulo }}
          </li>
        </ul>
        <strong>
          Responder con:<br /><span class="badge bg-primary">{{
            preguntaSeleccionada.prefTitulo
          }}</span>
        </strong>
      </div>
      <div class="modal-footer flex-nowrap p-0">
        <button
          type="button"
          class="btn btn-lg fs-6 text-primary col-6 m-0 rounded-0 border-right"
          (click)="confirmarPreguntaFrecuente()"
        >
          <strong>Confirmar</strong>
        </button>
        <button
          type="button"
          class="btn btn-lg fs-6 text-danger col-6 m-0 rounded-0"
          data-bs-dismiss="modal"
          (click)="cancelar()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #spinner>
  <div class="col-md text-center">
    <div
      class="spinner-grow ms-auto text-primary"
      role="status"
      style="width: 4rem; height: 4rem"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-md text-center">
    <h4>Cargando...</h4>
  </div>
</ng-template>
