<div class="container-fluid">
  <div class="row g-3 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/estudiante/inicio']"
            ><i class="fas fa-home"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Estudiante</li>
        <li
          class="breadcrumb-item active"
          aria-current="page"
          [routerLink]="['/estudiante/solicitudes']"
          style="cursor: pointer"
        >
          Solicitudes
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Crear Solicitud
        </li>
      </ol>
    </nav>
  </div>
  <div>
    <h4 class="mb-3 fw-bold mb-0 text-center">Crear Solicitud</h4>
  </div>

  <div class="card mb-4" *ngIf="envioFinalizado; else spinner">
    <div class="card-header">Formulario</div>
    <div class="card-body">
      <form
        #frmCrearSolicitud="ngForm"
        class="needs-validation"
        (ngSubmit)="
          frmCrearSolicitud.form.valid && crearSolicitud(frmCrearSolicitud)
        "
      >
        <div class="row gx-3 mb-3">
          <!-- Form Group (Titulo)-->
          <div class="col-md-6">
            <label class="small mb-1" for="mensajeTitulo">Asunto</label>
            <input
              name="mensajeTitulo"
              id="mensajeTitulo"
              class="form-control rounded-4"
              type="text"
              [(ngModel)]="objMensaje.mensajeTitulo"
              #mensajeTitulo="ngModel"
              [ngClass]="{
                'is-invalid':
                  frmCrearSolicitud.submitted && mensajeTitulo.invalid
              }"
              required
            />
            <div
              class="text-danger error"
              *ngIf="frmCrearSolicitud.submitted && mensajeTitulo.invalid"
            >
              <span *ngIf="mensajeTitulo.errors?.['required']"
                >Ingrese el asunto de la solicitud</span
              >
            </div>
          </div>
          <!-- Form Group (Tipo solicitud)-->
          <div class="col-md-6">
            <label class="small mb-1" for="mensajeTipo"
              >Tipo de solicitud</label
            >
            <select
              class="form-control form-select"
              id="mensajeTipo"
              name="mensajeTipo"
              [(ngModel)]="objMensaje.tipoId"
              #mensajeTipo="ngModel"
              [ngClass]="{
                'is-invalid': frmCrearSolicitud.submitted && mensajeTipo.invalid
              }"
              required
            >
              <option class="text-muted" disabled>{{ defaultTipo }}</option>
              <optgroup
                *ngFor="let clase of arregloTipoClases"
                label="{{ clase.nom }}"
              >
                <option
                  *ngFor="
                    let tipo of arregloTipos
                      | filterBy: ['tipoClase']:clase.nom;
                    let indice = index
                  "
                  [ngValue]="tipo.tipoId"
                >
                  {{ tipo.tipoNombre }}
                </option>
              </optgroup>
            </select>
            <div
              class="text-danger error"
              *ngIf="frmCrearSolicitud.submitted && mensajeTipo.invalid"
            >
              <span *ngIf="mensajeTipo.errors?.['required']"
                >Selecciona el tipo de solicitud</span
              >
            </div>
          </div>
        </div>
        <!-- Form Row -->
        <div class="row gx-3 mb-3">
          <!-- Form Group (location)-->
          <label class="small mb-1" for="mensajeDetalle"
            >Cuerpo de la solicitud</label
          >
          <textarea
            class="form-control"
            id="mensajeDetalle"
            name="mensajeDetalle"
            type="text"
            rows="8"
            [(ngModel)]="objMensaje.mensajeDetalle"
            #mensajeDetalle="ngModel"
            [ngClass]="{
              'is-invalid':
                frmCrearSolicitud.submitted && mensajeDetalle.invalid
            }"
            required
          >
          </textarea>
          <div
            class="text-danger error"
            *ngIf="frmCrearSolicitud.submitted && mensajeDetalle.invalid"
          >
            <span *ngIf="mensajeDetalle.errors?.['required']"
              >Ingresa el cuerpo de la solicitud</span
            >
          </div>
        </div>
        <!-- Input de subir archivo -->
        <p>
          Puedes subir un archivo anexo de tipo JPG,PNG o PDF, no superior a 2MB
        </p>
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            (change)="seleccionarAnexo($event)"
            accept="image/*,.pdf"
          />
        </div>
        <!-- Fin Input de subir archivo -->
        <!-- Enviar solicitud-->
        <div class="d-flex justify-content-center">
          <div class="p-2">
            <button class="btn btn-primary" type="submit">
              <i class="fa-solid fa-paper-plane mx-1"></i>
              Registrar solicitud
            </button>
          </div>
        </div>
        <!-- Fin Enviar solicitud-->
      </form>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="col-md text-center">
    <div
      class="spinner-grow ms-auto text-primary"
      role="status"
      style="width: 4rem; height: 4rem"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-md text-center">
    <h4>Enviando Solicitud...</h4>
  </div>
</ng-template>
