<div class="container-fluid">
  <div class="card mt-2">
    <div class="card-header">Bienvenido, {{ nombreUsuario }}</div>
    <div class="card-body text-center">
      <h5 class="mt-2">
        Sin Whatsapp y sin Correos, todo desde un mismo sitio!
      </h5>
      <p class="card-text">
        Este es el sistema de PQRS de la Facultad de Ingenieria de Sistemas de
        la Universidad Santo Tomas, Seccional Tunja. Desde donde podras
        gestionar las solicitudes particulares de cada estudiante.
      </p>
      <a class="btn btn-primary" [routerLink]="['/administrador/solicitudes']"
        >Ir a solicitudes</a
      >
    </div>
  </div>

  <div
    class="col-md-10 justify-content-center"
    *ngIf="cargaFinalizada == true; else spinner"
  >
    <h5 class="mb-4">Resumen</h5>
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-blue-dark">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large">
              <i class="fas fa-users"></i>
            </div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Usuarios Activos</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">
                  {{ estadisticas.activos }}
                </h2>
              </div>
            </div>
            <div>
              <button
                class="btn btn-outline-light"
                [routerLink]="['/administrador/usuarios']"
              >
                Ir a usuarios
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-green-dark">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large">
              <i class="fas fa-circle-exclamation"></i>
            </div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Solicitudes Nuevas</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">
                  {{ estadisticas.nuevos }}
                </h2>
              </div>
            </div>
            <div class="mb-2">
              <progressbar
                [max]="estadisticas.totales * 1"
                [value]="estadisticas.nuevos * 1"
              >
                <span class="text-nowrap"
                  >{{
                    (estadisticas.nuevos * 100) / estadisticas.totales
                      | number: "1.0-0"
                  }}%</span
                >
              </progressbar>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-orange-dark">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large">
              <i class="fas fa-business-time"></i>
            </div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Solicitudes en progreso</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">
                  {{ estadisticas.progreso }}
                </h2>
              </div>
            </div>
            <div class="mb-2">
              <progressbar
                [max]="estadisticas.totales * 1"
                [value]="estadisticas.progreso * 1"
              >
                <span class="text-nowrap"
                  >{{
                    (estadisticas.progreso * 100) / estadisticas.totales
                      | number: "1.0-0"
                  }}%</span
                >
              </progressbar>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-cherry">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large">
              <i class="fas fa-clipboard-check"></i>
            </div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Solicitudes Finalizadas</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">
                  {{ estadisticas.terminados }}
                </h2>
              </div>
            </div>
            <div class="mb-2">
              <progressbar
                [max]="estadisticas.totales * 1"
                [value]="estadisticas.terminados * 1"
              >
                <span class="text-nowrap"
                  >{{
                    (estadisticas.terminados * 100) / estadisticas.totales
                      | number: "1.0-0"
                  }}%</span
                >
              </progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="col-md text-center">
    <div
      class="spinner-grow ms-auto text-primary"
      role="status"
      style="width: 4rem; height: 4rem"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-md text-center">
    <h4>Cargando...</h4>
  </div>
</ng-template>
