.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #e4e4e4;
}
.my-input{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000;
}
.my-input:focus {
  border-color: #0d6efd;
}

.my-input::placeholder {
  font: 15px Segoe UI;
}
