<div class="container-fluid mb-3">
  <div class="row g-3 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/administrador/inicio']"
            ><i class="fas fa-home"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Administrador
        </li>
        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
      </ol>
    </nav>
  </div>

  <h4 class="mb-3 fw-bold mb-0 text-center">Administrar Usuarios</h4>

  <div class="row justify-content-around mb-2">
    <div class="col p-2">
      <span class="badge rounded-pill bg-success">
        <i class="fas fa-search"></i>
      </span>
      <input
        class="form-control-sm form-control-borderless"
        type="search"
        placeholder="Buscar usuarios"
        title="Buscar usuarios por nombre, documento o telefono"
        [(ngModel)]="searchBar"
      />
    </div>
    <div class="col p-2">
      <i class="fa-solid fa-filter"></i> Filtrar por rol:
      <select
        class="select"
        style="border: transparent; padding: 5px"
        [(ngModel)]="rolFiltrar"
      >
        <option class="text-muted" [ngValue]="''">Sin filtro</option>
        <option *ngFor="let rol of arregloRoles" [ngValue]="rol.rolNombre">
          {{ rol.rolNombre }}
        </option>
      </select>
    </div>
    <div class="col p-2">
      <i class="fa-solid fa-user"></i> Usuarios por página:
      <select
        class="select"
        style="border: transparent; padding: 5px"
        (change)="handlePageSizeChange($event)"
      >
        <option *ngFor="let cantidad of tamano" [ngValue]="cantidadMostrar">
          {{ cantidad }}
        </option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="cargaFinalizada == true; else spinner">
    <div class="table-responsive-sm">
      <table
        class="table table-striped table-hover table-sm justify-content-center"
      >
        <thead class="bg-dark text-white">
          <tr>
            <th style="width: 10%">
              Codigo
              <i
                (click)="ordenarUsuarios('usuarioId')"
                class="fa-solid fa-sort"
                style="cursor: pointer;"
              ></i>
            </th>
            <th style="width: 30%">
              Nombres
              <i
                (click)="ordenarUsuarios('usuarioNombres')"
                class="fa-solid fa-sort"
                style="cursor: pointer;"
              ></i>
            </th>
            <th style="width: 20%">
              Documento
              <i
                (click)="ordenarUsuarios('usuarioDocumento')"
                class="fa-solid fa-sort"
                style="cursor: pointer;"
              ></i>
            </th>
            <th style="width: 20%">
              Telefono
              <i
                (click)="ordenarUsuarios('usuarioTelefono')"
                class="fa-solid fa-sort"
                style="cursor: pointer;"
              ></i>
            </th>
            <th style="width: 20%"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let objUsu of arregloUsuarios
                | filterBy
                  : [
                      'usuarioNombres',
                      'usuarioApellidos',
                      'usuarioDocumento',
                      'usuarioTelefono'
                    ]
                  : searchBar
                | filterBy: ['rolNombre']:rolFiltrar
                | orderBy: ordenarPor
                | paginate
                  : {
                      itemsPerPage: cantidadMostrar,
                      currentPage: paginaActual,
                      totalItems: cantidadTotal
                    }
            "
            (click)="seleccionarUsuario(objUsu)"
          >
            <td>{{ objUsu.usuarioId }}</td>
            <td>
              {{ objUsu.usuarioNombres + " " + objUsu.usuarioApellidos }}
              <br />
              <small class="text-muted">{{ objUsu.rolNombre }}</small>
            </td>
            <td>{{ objUsu.usuarioDocumento }}</td>
            <td>{{ objUsu.usuarioTelefono }}</td>
            <td style="text-align: center">
              <span
                class="badge bg-warning text-dark"
                style="cursor: pointer"
                [routerLink]="[
                  '/administrador/usuarios/actualizar/',
                  objUsu.usuarioId
                ]"
                routerLinkActive="router-link-active"
              >
                <i class="fa-solid fa-user-gear"></i>
                Editar usuario
              </span>
              &nbsp;
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-around mb-2">
        <div class="p-2">
          <strong> {{ cantidadTotal }} </strong> usuarios registrados en
          <strong> {{ cantidadPaginas }}</strong> páginas.
        </div>

        <div class="p-2">
          <pagination-controls
            class="my-pagination"
            previousLabel=""
            nextLabel=""
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button
        routerLinkActive="router-link-active"
        type="button"
        class="btn btn-primary"
        (click)="obtenerUsuarios()"
      >
        Actualizar lista de usuarios
      </button>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="col-md text-center">
    <div
      class="spinner-grow ms-auto text-primary"
      role="status"
      style="width: 4rem; height: 4rem"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-md text-center">
    <h4>Cargando...</h4>
  </div>
</ng-template>
