<div class="container-fluid">
  <div class="row g-3 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/estudiante/inicio']"
            ><i class="fas fa-home"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Estudiante</li>
        <li class="breadcrumb-item active" aria-current="page">Solicitudes</li>
      </ol>
    </nav>
  </div>

  <h4 class="mb-3 fw-bold mb-0 text-center">Administrar Solicitudes</h4>
  <div class="d-flex justify-content-center mb-2">
    <div class="p-2">
      <span class="badge rounded-pill bg-success">
        <i class="fas fa-search"></i>
      </span>
      <input
        class="form-control-sm form-control-borderless"
        type="search"
        placeholder="Buscar solicitudes"
        aria-label="Buscar"
        [(ngModel)]="searchBar"
      />
    </div>
  </div>

  <div class="row g-3" *ngIf="cargaFinalizada == true; else spinner">
    <div
      class="table-responsive-sm"
      *ngIf="arregloSolicitudes.length !== 0; else sinRegistros"
    >
      <table class="table table-striped table-hover table-sm rounded-3">
        <thead class="bg-dark text-white">
          <tr>
            <th style="width: 5%">Codigo</th>
            <th style="width: 10%">Estado</th>
            <th style="width: 25%">Solicitud</th>
            <th style="width: 30%">Detalle</th>
            <th style="width: 10%">Clase</th>
            <th style="width: 20%">Tipo de solicitud</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let soli of arregloSolicitudes
                | filterBy: ['mensajeTitulo']:searchBar
                | paginate
                  : {
                      itemsPerPage: cantidadMostrar,
                      currentPage: paginaActual,
                      totalItems: cantidadTotal
                    }
            "
            (click)="seleccionarSolicitud(soli)"
          >
            <td>{{ soli.mensajeId }}</td>
            <td class="text-center">
              <span
                class="badge rounded-pill badge-success"
                *ngIf="soli.mensajeEstado == 1"
                >Esperando respuesta</span
              >
              <span
                class="badge rounded-pill badge-warning"
                *ngIf="soli.mensajeEstado == 2"
                >En progreso</span
              >
              <span
                class="badge rounded-pill badge-danger"
                *ngIf="soli.mensajeEstado == 3"
                >Terminada</span
              >
            </td>
            <td>
              <a
                [routerLink]="[
                  '/estudiante/solicitudes/visualizar/',
                  soli.mensajeId
                ]"
                routerLinkActive="router-link-active"
              >
                {{ soli.mensajeTitulo }}
              </a>
            </td>
            <td>
              <span>
                <div>
                  <strong>Fecha:</strong>
                  {{ soli.mensajeFecha | date: "MMM d, y" }}
                  a las
                  {{ soli.mensajeFecha | date: "h:mm a" }}
                </div>
              </span>
            </td>
            <td>{{ soli.tipoClase }}</td>
            <td>{{ soli.tipoNombre }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-around mb-2">
        <div class="p-2">
          <strong> {{ cantidadTotal }} </strong> solicitudes registrados en
          <strong> {{ cantidadPaginas }}</strong> páginas.
        </div>
        <div class="p-2">
          <pagination-controls
            class="my-pagination"
            previousLabel=""
            nextLabel=""
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button
        routerLinkActive="router-link-active"
        type="button"
        class="btn btn-primary"
        (click)="obtenerSolicitudes()"
      >
        Actualizar lista de solicitudes
      </button>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="col-md text-center">
    <div
      class="spinner-grow ms-auto text-primary"
      role="status"
      style="width: 4rem; height: 4rem"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-md text-center">
    <h4>Cargando...</h4>
  </div>
</ng-template>

<ng-template #sinRegistros>
  <div class="alert alert-primary" role="alert">
    <i class="fa fa-circle-info"></i>
    Aún no tienes solicitudes registradas. Si tienes alguna petición, queja,
    reclamo o sugerencia para la facultad, puedes dar click
    <a [routerLink]="['/estudiante/solicitudes/crear']" class="alert-link"
      >aquí</a
    >.
  </div>
</ng-template>
