input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000;
}
input:focus {
  border-color: #0d6efd;
}

input::placeholder {
  font: 15px Segoe UI;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  border-radius: 20px;
  background-color: #0d6efd;
}

.my-pagination ::ng-deep .ngx-pagination a:hover {
  border-radius: 20px;
  background-color: #d9d9d9;
}

.badge-success {
  background-color: #bcfed5;
  color: #0b3c1e;
}
.badge-warning {
  background-color: #fff8ad;
  color: #412c07;
}
.badge-danger {
  background-color: #fec1c6;
  color: #6d0517;
}
.badge-primary{
  background-color: #bad0fa;
  color: #093986;
}
