<div class="mt-3 d-flex justify-content-center">
  <div class="col-7">
  <div class="card mb-3">
    <img class="card-img-top" src="../../../assets/images/not-found-bot.png" alt="">
    <div class="card-body text-white bg-dark">
      <h5 class="card-title">Regresa para seguir</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="col-md-8 mt-5 fs-4">
        <button (click)="regresar()" class="btn btn-primary">
          <i class="fa fa-reply papeleraRoja"></i> regresar
        </button>
      </p>
    </div>
  </div>
  </div>
</div>
