<div class="container-fluid">
  <div class="row g-3 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/estudiante/inicio']"
            ><i class="fas fa-home"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Estudiante</li>
        <li
          class="breadcrumb-item active"
          style="cursor: pointer"
          aria-current="page"
        >
          Perfil
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Actualizar perfil
        </li>
      </ol>
    </nav>
  </div>
  <div>
    <h4 class="mb-3 fw-bold mb-0 text-center">Actualizar perfil de usuario</h4>
  </div>

  <div class="row g-3">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="true"
        >
          <i class="fas fa-user fa-fw me-2"></i>Perfil
        </button>
        <button
          class="nav-link"
          id="nav-security-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-security"
          type="button"
          role="tab"
          aria-controls="nav-security"
          aria-selected="false"
        >
          <i class="fas fa-lock fa-fw me-2"></i>Seguridad
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <!-- TAB DE PERFIL -->
      <div
        class="tab-pane fade active show"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >
        <div class="container-xl px-4 mt-4">
          <div class="row">
            <div class="col-xl-4">
              <!-- Profile picture card-->
              <div class="card mb-4 mb-xl-0">
                <div class="card-header">Imagen de usuario</div>
                <div
                  class="card-body text-center"
                  *ngIf="cargaImagen == true; else spinner"
                >
                  <!-- Profile picture image-->
                  <img
                    [src]="'data:image/png;base64,' + this.base64"
                    alt=""
                    height="200"
                    width="200"
                    class="img-thumbnail rounded-circle me-2"
                  />
                  <!-- Profile picture help block-->
                  <div class="small font-italic text-muted mb-4">
                    JPG o PNG tamaño maximo 5 MB
                  </div>
                  <!-- Profile picture upload button-->
                  <button
                    class="btn btn-outline-primary"
                    type="button"
                    (click)="cajaImagen.click()"
                  >
                    <span
                      ><i class="fa fa-camera"></i>
                      Cambiar foto
                    </span>
                    <input
                      type="file"
                      class="form-control"
                      style="display: none"
                      id="fotoUsuario"
                      name="fotoUsuario"
                      accept="image/x-png, image/jpeg"
                      #cajaImagen
                      (change)="seleccionarFoto($event)"
                    />
                  </button>
                </div>
                <button
                  *ngIf="this.imagenSeleccionada"
                  class="btn btn-primary"
                  type="button"
                  (click)="this.agregarImagenPerfil()"
                >
                  <i class="fa fa-upload"></i> Subir imagen
                </button>
              </div>
            </div>
            <div class="col-xl-8">
              <!-- Account details card-->
              <div class="card mb-4">
                <div class="card-header">Datos de usuario</div>
                <div class="card-body">
                  <form
                    #frmActualizarUsuario="ngForm"
                    class="needs-validation"
                    (ngSubmit)="
                      frmActualizarUsuario.form.valid &&
                        actualizarUsuario(frmActualizarUsuario)
                    "
                  >
                    <div class="row gx-3 mb-3">
                      <!-- Form Group (first name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="usuarioNombres"
                          >Nombres</label
                        >
                        <input
                          name="usuarioNombres"
                          id="usuarioNombres"
                          class="form-control rounded-4"
                          type="text"
                          [(ngModel)]="usuarioSeleccionado.usuarioNombres"
                          #usuarioNombres="ngModel"
                          [ngClass]="{
                            'is-invalid':
                              frmActualizarUsuario.submitted &&
                              usuarioNombres.invalid
                          }"
                          required
                        />
                        <div
                          class="text-danger error"
                          *ngIf="
                            frmActualizarUsuario.submitted &&
                            usuarioNombres.invalid
                          "
                        >
                          <span *ngIf="usuarioNombres.errors?.['required']"
                            >Ingrese nombre de usuario</span
                          >
                        </div>
                      </div>
                      <!-- Form Group (last name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="usuarioApellidos"
                          >Apellidos</label
                        >
                        <input
                          class="form-control"
                          name="usuarioApellidos"
                          id="usuarioApellidos"
                          type="text"
                          [(ngModel)]="usuarioSeleccionado.usuarioApellidos"
                        />
                      </div>
                    </div>
                    <!-- Form Row -->
                    <div class="row gx-3 mb-3">
                      <!-- Form Group (phone number)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="usuarioTelefono"
                          >Telefono</label
                        >
                        <input
                          class="form-control"
                          id="usuarioTelefono"
                          name="usuarioTelefono"
                          type="tel"
                          [(ngModel)]="usuarioSeleccionado.usuarioTelefono"
                        />
                      </div>
                      <!-- Form Group (location)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="usuarioDocumento"
                          >Documento</label
                        >
                        <input
                          class="form-control"
                          id="usuarioDocumento"
                          name="usuarioDocumento"
                          type="text"
                          [(ngModel)]="usuarioSeleccionado.usuarioDocumento"
                        />
                      </div>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                      <!-- Form Group (phone number)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="usuarioTelefono"
                          >Tipo de usuario</label
                        >
                        <select
                          class="form-control form-select"
                          id="rol"
                          name="rol"
                          [(ngModel)]="usuarioSeleccionado.rolId"
                          disabled
                        >
                          <option
                            *ngFor="let rol of arregloRoles; let indice = index"
                            [ngValue]="rol.rolId"
                          >
                            {{ rol.rolNombre }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <!-- Save changes button-->
                    <button class="btn btn-primary" type="submit">
                      Guardar cambios
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TAB DE SEGURIDAD -->
      <div
        class="tab-pane fade"
        id="nav-security"
        role="tabpanel"
        aria-labelledby="nav-security-tab"
      >
        <div class="container-xl px-4 mt-4">
          <div class="row">
            <div class="col-lg-12">
              <!-- Change access data card-->
              <div class="card mb-4">
                <div class="card-header">Cambiar contraseña</div>
                <div class="card-body">
                  <form
                    #frmActualizarClave="ngForm"
                    class="needs-validation"
                    (ngSubmit)="
                      frmActualizarClave.form.valid &&
                        actualizarClave(frmActualizarClave)
                    "
                  >
                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="usuarioAccesoCorreo"
                        >Correo electronico</label
                      >
                      <input
                        class="form-control"
                        name="usuarioAccesoCorreo"
                        id="usuarioAccesoCorreo"
                        type="email"
                        [(ngModel)]="objAcceso.correoUsuario"
                        readonly
                      />
                    </div>
                    <!-- Form Group (current password)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="claveUsuario"
                        >Contraseña actual</label
                      >
                      <input
                        class="form-control"
                        id="claveUsuario"
                        name="claveUsuario"
                        type="password"
                        placeholder="Ingresa la contraseña actual"
                        [(ngModel)]="objAcceso.claveUsuario"
                        [ngClass]="{
                          'is-invalid':
                            frmActualizarClave.submitted &&
                            claveUsuario.invalid
                        }"
                        #claveUsuario="ngModel"
                        required
                      />
                      <div
                        class="text-danger error"
                        *ngIf="
                          frmActualizarClave.submitted &&
                          claveUsuario.invalid
                        "
                      >
                        <span *ngIf="claveUsuario.errors?.['required']"
                          >Contraseña actual requerida</span
                        >
                      </div>
                    </div>
                    <!-- Form Group (new password)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="nuevaClave"
                        >Nueva contraseña</label
                      >
                      <input
                        class="form-control"
                        id="nuevaClave"
                        name="nuevaClave"
                        type="password"
                        placeholder="Ingresa una nueva contraseña"
                        [(ngModel)]="objAcceso.nuevaClave"
                        [ngClass]="{
                          'is-invalid':
                            frmActualizarClave.submitted &&
                            nuevaClave.invalid
                        }"
                        #nuevaClave="ngModel"
                        required
                      />
                      <div
                        class="text-danger error"
                        *ngIf="
                          frmActualizarClave.submitted &&
                          nuevaClave.invalid
                        "
                      >
                        <span *ngIf="nuevaClave.errors?.['required']"
                          >Contraseña nueva requerida</span
                        >
                      </div>
                    </div>
                    <!-- Form Group (confirm password)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="reClave"
                        >Confirmar contraseña nueva</label
                      >
                      <input
                        class="form-control"
                        id="reClave"
                        name="reClave"
                        type="password"
                        placeholder="Confirmar nueva contraseña"
                        [(ngModel)]="objAcceso.reClave"
                        [ngClass]="{
                          'is-invalid':
                            frmActualizarClave.submitted &&
                            reClave.invalid
                        }"
                        #reClave="ngModel"
                        required
                        pattern="{{ objAcceso.nuevaClave }}"
                      />
                      <div
                        class="text-danger error"
                        *ngIf="
                          frmActualizarClave.submitted &&
                          reClave.invalid
                        "
                      >
                        <span *ngIf="reClave.errors?.['required']"
                          >Confirmar contraseña requerido</span
                        >
                        <span *ngIf="reClave.errors?.['pattern']"
                          >Contraseña nueva no coincide</span
                        >
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                      Confirmar cambio
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="col-md text-center">
    <div
      class="spinner-grow ms-auto text-primary"
      role="status"
      style="width: 4rem; height: 4rem"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-md text-center">
    <h4>Cargando...</h4>
  </div>
</ng-template>
